@import "tailwindcss";

@theme {
  --color-paprika: #e4572e;
  --color-choco: #DD7230;
  --color-azure: #ECF8F8;
  --color-black: #010400;
  --color-inkblack: #040F0F;

}
@utility hyperlink {
  @apply text-blue-600 italic hover:font-bold hover:text-paprika box-border;
 
  transition-timing-function: cubic-bezier(0.6, 0.4, 0.4, 1);

}
@utility hyper-b {
  &:after {
    content: '';
    transition: width 0.3. ease-in-out;
    background-color: var(--color-paprika);
    position: absolute;
    border-bottom: var(--color-paprika) 1px solid;
  }
}

.sans {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter Variable', system-ui, sans-serif;
}

body {
  font-family: 'IBM Plex Serif', serif;
  background-color: var(--color-azure);
}

article {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
}
