@import "tailwindcss";

@theme {
  --color-paprika: #e4572e;
  --color-emerald: #0b6e4f;
  --color-azure: #ECF8F8;
  --color-black: #010400;
  --color-inkblack: #040F0F;

}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter Variable', system-ui, sans-serif;
  background-color: var(--color-azure);
}

article {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
}
